doctype
html
  head
    title Chat
    link(rel="stylesheet" href="./style.css")
    script(src="/socket.io/socket.io.js")
    script
      | var socket = io()
  body
    ul#messages
    form#form(action="")
      #userBox
      input#input(autocomplete="off")
      button Send

    script(src="./chat.js")
